<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <!-- 投稿したユーザー名情報を出力する -->
      <%# なぜ@messagesではなく、messageなのかは、部分テンプレート呼び出し元(今回だと_main_chat.hmtm.erb)で複数のメッセージに関する情報を持つ@messagesが定義されており、それから要素をひとつづつ取り出して「message」という変数に格納されるらしい。名前はなんかrailsが自動的に決めるらしい。多分@を取って単数形にする感じかな %>
      <%= message.user.name %>
    </div>
    <div class="message-date">
      <!-- 投稿した時刻を出力する -->
      <%= l message.created_at %> <%# l(エル)メソッドは日付や時刻を表示するもの。lメソッドを使えば設定している国や地域の時刻を表示してくれる %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= message.content %>
    </div>
    <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %> <%# if message.image.attached?と記述することで、画像が存在する場合のみimage_tagが読み込まれるようになる。variant(resize:)で画像の大きさを指定したサイズに変更できる %>
  </div>
</div>

